<!-- head para PC -->
{% extends "users/base_users.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell medium-6 large-4" style="margin-top: 2em;">
            <div class="card" style="width: 100%;">
                <div class="card-divider">
                    <h4>Cambiar Contraseña</h4>
                </div>
                <div class="card-section">
                    <form class="grid-x grid-margin-x" method="POST">{% csrf_token %}
                        <div class="cell medium-12">
                            {% for error in form.errors.password1 %}
                                <h5 style="color:red;">{{error}}</h5>
                            {% endfor %}

                            <label>Contraseña Actual:
                                {{form.password1}}
                            </label>
                        </div>
                        <div class="cell medium-12">
                            <label>Nueva Contraseña:
                                {{form.password2}}

                                <p style="color:red;">{{form.errors.password}}</p>

                            </label>
                        </div>
                        <button type="submit" class="cell hollow button primary">Aceptar</button>
                        <a class="cell hollow button alert" href="{% url 'users_app:perfil' %}">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}